<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kolloquy Chats</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>
<body>
<main>
    <ul style="display: none">
        <li><data id="chatid" value="{{id}}"></data></li>
        <li><data id="author" value='{"id":"{{self.id}}","is_self":false,"handle":"{{self.handle}}","avatar":"null"}'></data></li>
    </ul>

    <section id="header">
        <h1>{{name}}</h1>
    </section>

    <section id="info" style="gap: 3vh;">
        {{#each messages as | message |}}
            {{#with message}}
                <div
                    class="chat"
                    {{#if is_sender}}
                        style="margin-left: 5vw"
                    {{else}}
                        style="margin-right: 5vw"
                    {{/if}}
                >
                    <div style="display: grid; max-width: calc(25vw - 0.5vmin); justify-content: left; align-items: center; text-align: left; vertical-align: central; margin-top: auto; margin-left: 1vmin;">
                        <b style="margin: 0">{{author.handle}}</b>
                        <p style="margin: 0">{{content}}</p>
                    </div>

                    {{{author.avatar}}}
                </div>
            {{/with}}
        {{/each}}
    </section>

    <script src="/dist/chat.js"></script>

    <section id="footer">
        <div class="chat" style="margin-left: 5vw">
            <input type="text" style="max-height: 1vh;" id="messageInput" />
            <button style="background: none;border: none;padding: 0;cursor: inherit;display: inline;font-family: inherit;font-size: inherit;line-height: inherit;transition: opacity 0.2s;" id="send"><p style="cursor: pointer; font-weight: 900; font-size-adjust: 0.6">&gt;</p></button>
        </div>

        <p>Kolloquy v0.0.1</p>
    </section>
</main>
</body>
</html>